.copy-right {
    background: #ffffff;
    color: #000;
    clear: both;
    padding: 25px 0;
    border-top: 1px dotted #eeeeee;
    .copy-inner {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px
    }
  }