@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../public/content/fonts/font.module.css");
html,
body {
  font-family: "Poppins", sans-serif !important;
}

.home_home___Q0oU {
  .slick-dots {
    bottom: 20px;
    display: flex;
    li {
      height: 0;
      width: 0;
      margin-right: 17px;
      &:last-child {
        margin-right: 0px;
      }
      button {
        border: 0;
        background-color: #fff;
        display: block;
        height: 12px;
        width: 12px;
        padding: 0;
        line-height: 0;
        color: transparent;
        cursor: pointer;
        opacity: 0.5;
        border-radius: 50%;
        &:before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #fff;
          padding: 0;
          opacity: 1;
        }
      }
    }
  }
  .fourbox_four-box__NeEoC {
    .col-md-12 {
      margin-bottom: 15px;
    }
  }
}



.btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0) !important;
  background-color: #000 !important;
  color: #fff !important;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  white-space: normal;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  padding: 10px 24px;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}
