.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      &.search__btn-area {
        .icon-search-l {
          display: block;
        }
        .icon-times-l {
          display: none;
        }
        &.active {
          .icon-search-l {
            display: block;
          }
          .icon-times-l {
            display: block;
            position: fixed;
            z-index: 9999;
            right: 3.6rem;
            top: 0.5rem;
          }
        }
      }
      a {
        text-decoration: none;
        position: relative;
        color: #030505;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0 9px;
      }
    }
  }
}
