.header {
  background-color: #fff;
  .navition {
    position: relative;
    z-index: 15;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 60px;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
  }

  .active {
    position: fixed;
    z-index: 99;
    left: 323px;
    top: 6px;
  }
  .btn-nav {
    margin-right: 15px;
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
  }
}
